// SIDEBAR

// Handles open state of menu
#nav-toggler {
  position: relative;

  &:checked {
    + #nav-toggler-btn {
      left: $nav-width-sm;

      @media (min-width: $bp-sm) {
        left: $nav-width-md;
      }

      @media (min-width: $bp-md) {
        left: 0;
      }
    }

    + #nav-toggler-btn + #nav-toggler-content {
      #nav {
        left: 0;

        @media (min-width: $bp-md) {
          left: -$nav-width-lg;
        }
      }

      main {
        transform: translateX($nav-width-sm);

        @media (min-width: $bp-sm) {
          transform: translateX(0);
          left: $nav-width-md;
        }

        @media (min-width: $bp-md) {
          left: 0;
        }
      }
    }
  }
}

#nav-toggler-btn {
  color: rgba(#000, 0.6);
  padding: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: $transition;
  z-index: 40;

  @media (min-width: $bp-md) {
    left: $nav-width-lg;
  }

  &:hover, &:focus {
    color: #000;
    cursor: pointer;
  }
}

#nav {
  background: $accent;
  height: 100%;
  height: 100%;
  left: -$nav-width-sm;
  overflow-y: scroll;
  position: absolute;
  transition: $transition;
  width: $nav-width-sm;

  @media (min-width: $bp-sm) {
    left: -$nav-width-md;
    width: $nav-width-md;
  }

  @media (min-width: $bp-md) {
    left: 0;
    width: $nav-width-lg;
  }

  header {
    border-bottom: 1px solid rgba($color-default, 0.1);
    color: rgba($color-secondary, 0.9);
    justify-content: flex-start;
    padding: 0 0.25rem;
  }

  .sidebar-user {
    position: relative;

    label {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      line-height: 1rem;
      transition: color $transition-short;
    }

    span {
      margin-left: 0.25rem;
    }

    &:hover label, label:hover {
      cursor: pointer;
      color: $color-secondary;
    }
  }

  #user-menu-toggler + label + #user-dropdown {
    height: 0;
    overflow-y: hidden;
    transition: height $transition-short;
    background: $color-secondary;
    color: rgba($color-default, 0.6);
    border: none;
    position: absolute;
  }

  #user-menu-toggler:checked {
    + label {
      color: $color-secondary;
    }

    + label i {
      background: rgba($color-default, 0.2);
    }

    + label + #user-dropdown {
      padding: 1rem 1.25rem;
      width: 100%;
      height: auto;
      box-shadow: 0 1px 4px rgba($color-default, 0.5);
    }
  }

  .menu-list {
    border-top: 1px solid rgba($color-default, 0.05)
  }

  .icon-toggle {
    padding: 0;
    float: left;

    &.closed {
      display: none;
    }

    &.open {
      display: inline-block;
    }
  }

  h3 {
    transition: background $transition-short, color $transition-short;
    margin: 0;
    line-height: 2.5rem;
    padding: 0;
    color: rgba($color-secondary, 0.6);
    font-weight: lighter;

    &.active {
      color: rgba($color-default, 0.6);
      background: $color-secondary;

      &:hover {
        color: rgba($color-default, 0.8);
        background: $color-secondary;
      }
    }

    &:hover {
      color: rgba($color-secondary, 0.8);
      background: rgba($color-default, 0.1);
    }

    a {
      display: block;
      color: inherit;
    }
  }

  ul {
    height: 0;
    overflow-y: hidden;
    margin: 0;
  }

  li {
    a {
      transition: all $transition-short;
      display: block;
      padding: 0.25rem 1.75rem;
      overflow-wrap: break-word;
      color: rgba($color-default, 0.6);

      &:hover {
        cursor: pointer;
        background: rgba(#000, 0.1);
      }
    }
  }

  input[name='menu-item-toggler'] {
    + label {
      padding-left: 0;
    }
  }

  input[name='menu-item-toggler']:checked {
    & + label {
      h3.active {
        background: transparent;
        color: rgba($color-secondary, 0.8);
      }

      .icon-toggle {
        &.closed {
          display: inline-block;
        }

        &.open {
          display: none;
        }
      }
    }

    & + label + ul {
      height: auto;

      li a {
        color: rgba($color-secondary, 0.6);
      }
    }
  }
}
