@import 'sanitize';
@import 'vars';
@import 'mixins';

body {
  margin: 0;
  font-size: 18px;
  color: $black;
  background: darken($white, 2%);
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

h3,
p {
  font-weight: lighter;
  margin: 0;
}

a {
  color: darken($base, 5%);
  text-decoration: none;
}

button {
  background-color: $base;
  padding: 0.75rem;
  color: $white;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba($black, 0.2);
  display: block;
  margin: 0 auto;

  @include transition-default(background-color);

  a {
    color: inherit;
  }

  &:hover {
    background-color: darken($base, 5%);
  }
}

h2 {
  font-family: 'Merriweather', 'Gerogia', serif;
  padding: 0.25rem 0;
  margin: 1rem 0;
  color: inherit;
  text-align: center;
  width: 100%;
}

pre {
  display: flex;
  background-color: $base-dark;
  overflow-x: auto;
  padding: 0.5rem;
  border-radius: 2px;
  font-size: 0.75rem;
}

section {
  padding: 1.5rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.icon-circle {
  height: 5rem;
  width: 5rem;
  border: 2px solid $black;
  color: $black;
  border-radius: 50%;
  padding: 1rem;
  margin: 0 auto;
}

.num {
  height: 1rem;
  width: 1rem;
  padding: .5rem;
  line-height: 1rem;
}

.section-content {
  max-width: 400px;
  margin: 0 auto;

  @include flex(column)
}

.steps {
  width: 100%;
}

.step-heading {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;

  .icon-circle {
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    display: inline;
    margin: 0;
  }

  h3 {
    padding-left: 0.5rem;
  }
}

.step-heading + p {
  padding-left: 2.5rem;
}

.step-heading + pre {
  margin-left: 2.5rem;
}

.banner {
  $overlay-color: rgba($black, 0.6);
  $img-overlay: linear-gradient($overlay-color, $overlay-color);

  background: $img-overlay, url('assets/banner.jpg');
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-attachment: fixed;
  text-align: center;

  h1 {
    font-family: 'Merriweather', 'Gerogia', serif;
    font-size: 3rem;
    width: 100%;
  }

  h3 {
    padding: 0 2rem;
  }
}

.description .section-content {
  @include flex(column);

  p {
    margin: 0;
  }
}

.why, .installation {
  background: $base-light;
  color: $white;

  .icon-circle {
    color: $white;
    border-color: $white;
  }
}

.how-it-works {
  @include flex(column);
}

.demo {}

.footer {
  border-top: 1px solid rgba($black, 0.2);
  text-align: center;
}
