header {
  width: $header-width;
  // border-bottom: 1px solid rgba(#000, 0.1);
  // box-shadow: $shadow;
  padding: 0 $main-children-pad;
  color: $text-default-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;

  button {
    display: inline-block;
  }
}
