.dropdown-menu {
  position: absolute;
  border: 1px solid rgba($text-default-color, 0.1);
  padding: 0.75 * $base;
  width: 200px;
  font-size: 0.8 * $base;
  color: rgba($text-default-color, 0.5);
  line-height: 1.5 * $base;
}
