{
  "plugins": [
    [ "babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
