// Base UI and html element stylings

// buttons


// form control
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input, textarea {
  &:focus {
    outline: none;
  }
}

// lists
ul {
  list-style-type: none;
  padding-left: 0;
}

// links
a {
  text-decoration: none;
  color: $accent;
}
