// colors
$text-default-color: #222;
$bg-default-color: #fff;

// base
$base: 16px;
$shadow: 0 1px 2px -1px rgba(#000, 0.2);

// header
$header-height: 2.5 * $base;
$header-width: 100%;

// main
$main-height: 100%;
$main-children-pad: $base;

// sidebar
$sidebar-border: 1px solid blue;
$sidebar-height: 100%;
$sidebar-width: 30%;
$sidebar-bg: darken($bg-default-color, 10%);
