// colors
$text-default-color: #222;
// TODO: find a better variable name for this
$text-accent-bg: #fff;
$bg-default: #fff;
$accent: skyblue;

// base
$base: 16px;
$shadow: 0 1px 2px -1px rgba(#000, 0.2);
$transition-short: 0.25s ease-in;
$transition: 0.5s ease-in;
// header
$header-height: 2.5 * $base;
$header-width: 100%;

// main
$main-height: 100%;
$main-children-pad: $base;

// sidebar
$sidebar-border: 1px solid blue;
$sidebar-height: 100%;
$sidebar-width: 33%;
$sidebar-bg: darken($bg-default, 10%);

$sb-parent-pad: 0.5 * $base;
$sb-icon-margin: 0.25 * $base;
$sb-icon-w: $base;
$sb-child-pad: $sb-parent-pad + $sb-icon-w + $sb-icon-margin;
