.tags-header {
  position: fixed;
  right: 0;
  color: rgba(#000, 0.6);
}

.tags-section {
  padding: 3rem 5%;

  .post-card {
    border: 1px solid rgba(#000, 0.05);
    padding: 1rem;
    margin: 0.25rem;
    transition: box-shadow $transition-short;

    h4 {
      margin: 0;
      color: rgba(#000, 0.7);
    }

    h6 {
      margin: 0;
      color: rgba(#000, 0.3);
    }

    &:hover {
      box-shadow: 0 1px 3px rgba(#000, 0.15);
    }

    &:active {
      border-color: lighten($accent, 20%);
    }
  }
}
