#nav {
  float: left;
  height: 100%;
  position: relative;
  width: 25%;
  z-index: 5;
}

// Handles open and closed states of menu
#nav-toggler {
  & + #nav {
   transform: translateX(0);
   transition: $transition;
  }

 &:checked + #nav {
   transform: translateX(-100%);

   & + main {
     left: 0;

     #editor {
       padding: 1rem 20%;
     }
   }
 }
}

#nav-toggler-btn {
  color: rgba(#000, 0.6);
  line-height: 1.5rem;
  padding-left: 0.5rem;
  position: absolute;
  right: -1.5rem;
  top: 0.5rem;
  transition: all $transition-short;
  z-index: 40;

  &:hover, &:focus, label:hover, label:focus {
    color: #000;
    cursor: pointer;
  }
}

#sidebar {
  background: rgba(#000, 0.1);
  height: 100%;

  header {
    justify-content: flex-start;
    padding: 0 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  ul {
    margin: 0;
  }

  h3 {
    margin: 0;
    line-height: 2.5rem;
    padding-left: 0.5rem;
  }

  li {
    padding-left: 2rem;
    line-height: 2rem;
    transition: all $transition-short;
    border-left: 0.25rem solid transparent;

    &:hover {
      cursor: pointer;
      background: rgba(#fff, 0.4);
      border-left: 0.25rem solid rgba($accent, 0.3);
    }
  }
}

.menu-list {
  ul {
    height: 0;
    overflow-y: hidden;
  }

  input[name='menu-item-toggler']:checked {
    + h3 + ul {
      height: auto;
    }
  }
}

main {
  height: 100%;
  left: 25%;
  bottom: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: left $transition;

  header {
    background: #fff;
    right: 0;
    width: 75%;
    padding: 0.5rem;
    position: fixed;
    z-index: 0;

    ul {
      display: flex;
    }
  }
}

#info-toggler + #info-menu {
  display: none;
}

#info-toggler:checked + #info-menu {
  display: flex;
  position: absolute;
}

main section {
  display: flex;
  justify-content: center;
  height: 100%;

  &.editor-section {
    padding-top: 40px;
    overflow-y: visible;
    -webkit-scroll: none;

    textarea {
      resize: none;
      width: 100%;
      box-sizing: content-box;
      // max-width: 40rem;
      padding: 1rem 5%;
      overflow-y: scroll;
      // position: absolute;
    }
  }

  &.prompt {
    flex-direction: column;

    h1 {
      color: rgba(#000, 0.3);
      text-align: center;
    }

    span {
      text-decoration: underline;
    }
  }
}
