button {
  padding: 0;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 1px dotted rgba(#000, 0.3);
  }
}

a {
  color: rgba(#000, 0.8)
}

#nav {
  float: left;
  height: 100%;
  position: relative;
  width: 25%;
  z-index: 5;
}

// Handles open and closed states of menu
#nav-toggler {
  & + #nav {
   transform: translateX(0);
   transition: $transition;
  }

 &:checked + #nav {
   transform: translateX(-100%);

   & + main {
     left: 0;

     #editor {
       padding: 1rem 20%;
     }
   }
 }
}

#nav-toggler-btn {
  color: rgba(#000, 0.6);
  line-height: 1.5rem;
  padding: 0;
  position: absolute;
  right: -1.75rem;
  top: 0;
  height: 40px;
  transition: all $transition-short;
  z-index: 40;

  &:hover, &:focus, label:hover, label:focus {
    color: #000;
    cursor: pointer;
  }
}

#sidebar {
  background: rgba(#000, 0.1);
  height: 100%;

  header {
    justify-content: flex-start;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    button {
      padding: 0;
    }
  }

  h3 {
    margin: 0;
    line-height: 2.5rem;
    padding: 0;
  }

  li {
    // padding-left: 1.5rem;

    a {
      line-height: 2rem;
      border-left: 0.25rem solid transparent;
      padding-left: 1.5rem;
      transition: all $transition-short;
      display: block;

      &:hover {
        cursor: pointer;
        border-left: 0.25rem solid rgba($accent, 0.3);
        background: rgba(#fff, 0.4);
      }
    }
  }
}

.new-post, .menu-list {
  h3 {
    font-weight: lighter;
  }

  & + .menu-list {
    border-top: 1px solid rgba(#000, 0.03)
  }

  .icon-toggle {
    padding: 0;
    float: right;

    &.closed {
      display: none;
    }

    &.open {
      display: inline-block;
    }
  }

  ul {
    height: 0;
    overflow-y: hidden;
    margin: 0;
  }

  input[name='menu-item-toggler']:checked {
    & + h3 {
      .icon-toggle {
        &.closed {
          display: inline-block;
        }

        &.open {
          display: none;
        }
      }
    }

    & + h3 + ul {
      height: auto;
    }
  }
}

main {
  height: 100%;
  left: 25%;
  bottom: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: left $transition;

  header {
    background: #fff;
    right: 0;
    width: 75%;
    padding: 0.5rem;
    position: fixed;
    z-index: 0;

    ul {
      display: flex;

      li {
        position: relative;

        button {
          padding: 2px 0.25rem;
        }
      }
    }
  }
}

#delete-post {
  border: 1px solid red;
  margin-top: 0.5rem;
  line-height: 2;
  text-align: center;
  button {
    color: red;
  }
}

#info-toggler-btn {
  label {
    cursor: inherit;
  }
}

#info-toggler {
  & + #info-toggler-btn + #info-menu {
    display: none;

    ul {
      display: flex;
      flex-direction: column;
    }
  }
}

#info-toggler:checked {
  & + #info-toggler-btn {
    background: rgba(#000, 0.1);
  }

  & + #info-toggler-btn + #info-menu {
    background: #fff;
    border: 1px solid rgba(#000, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    line-height: 2;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    width: 150px;

    i {
      margin-right: 0.25rem;
    }

    .info-menu-item + .info-menu-item {
      margin-top: 0.25rem;
    }


    h3 {
      color: rgba(#000, 0.6);
      margin: 0;
    }
  }
}

.tags {
  li {
    color: rgba(#fff, 0.8);
    opacity: 0.4;
    margin: 1px;
    border-radius: $bd-rad;
    padding: 0 0.25rem;
    line-height: 2;
    transition: opacity $transition-short;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      opacity: 1;
    }
  }

  button {
    color: inherit;
    margin: 0;
    padding: 0;

    &:hover {
      color: inherit;
    }
  }
}

#add-tag {
  margin-top: 1px;
  line-height: 2;
  padding: 0 0.25rem;
  border-radius: $bd-rad;
  position: relative;
  display: flex;
  justify-content: flex-end;

  input[name='title'] {
    border: 1px solid rgba(#000, 0.1);
    bottom: 0;
    left: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem + (1.5rem * 2);
    position: absolute;
    top: 0;
    transition: border $transition-short;
    width: 100%;

    &:focus {
      border: 1px solid rgba($accent, 0.4);
    }
  }

  #color-picker {
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0;

    + #color-picker-btn {
      padding: 2px;
      opacity: 0.6;
      transition: all $transition-short;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }

    &:focus + #color-picker-btn {
      border: 1px dotted rgba(#000, 0.3);
    }
  }

  button[type="submit"] {
    z-index: 10;
    padding: 0;
  }
}

main section {
  display: flex;
  justify-content: center;
  height: 100%;

  &.editor-section {
    padding-top: 40px;
    overflow-y: visible;
    -webkit-scroll: none;

    input[name='title'] {
      position: absolute;
      top: 0;
      text-align: center;
      height: 40px;
    }

    textarea {
      resize: none;
      width: 100%;
      box-sizing: content-box;
      // max-width: 40rem;
      padding: 1rem 5%;
      overflow-y: scroll;
      // position: absolute;
    }
  }

  &.prompt {
    flex-direction: column;

    h2 {
      color: rgba(#000, 0.3);
      text-align: center;
    }

    span {
      text-decoration: underline;
    }
  }
}
