#app.dashboard-view {
  .tag {
    color: $text-accent-bg;
    opacity: 0.5;
    margin: 2px 0;
    padding: (0.25 * $base);
    transition: all $transition-short;

    &:hover {
      opacity: 1;
    }
  }

  #new-tag {
    display: flex;

    input[name='name'] {
      width: 70%;
    }

    input[name='color'] {
      height: 1.5 * $base;
      width: 1.5 * $base;
    }
  }
}
