#app.login-view {
  display: flex;
  justify-content: center;
  background: linear-gradient($accent, darken($accent, 10%));

  form {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content: center;

    input {
      background: #fff;
      color: rgba(#000, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.2);
      height: 2rem;
      line-height: 1.5;
      padding: 0.5rem;
      width: 100%;
      border-radius: 0 0 $bd-rad $bd-rad;

      + input {
        border-radius: 0 0 $bd-rad $bd-rad;
      }

    }

    button {
      height: 2rem;
      color: rgba(#fff, 0.6);
      background: lighten($accent, 20%);
      margin: 1rem 0;
      width: 100%;
      border-radius: $bd-rad;
      transition: background $transition-short;

      &:hover {
        background: lighten($accent, 10%);
        color: rgba(#fff, 0.8);
      }
    }
  }
}
