.prompt {
  flex-direction: column;
  justify-content: center;
  h2 {
    color: rgba(#000, 0.3);
    text-align: center;
    padding: 2rem;
  }

  a {
    color: rgba(#000, 0.4);
    transition: all $transition-short;

    &:hover {
      color: rgba(#000, 0.5);
    }
  }
}
