button {
  padding: 0;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 1px dotted rgba(#000, 0.3);
  }
}

a {
  color: rgba(#000, 0.8)
}

// default header styles
header {
  color: $text-default-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $header-height;
  z-index: 2;
}

main {
  height: 100%;
  left: 33%;
  bottom: 0;
  overflow-y: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: $transition;

  @media (min-width: $bp-md) {
    transform: translateX(0);
    left: $nav-width-lg;
  }
}

main section {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.editor-section, &.tags-section {
    padding: 3rem 5% 0.5rem;
    box-sizing: border-box;
    overflow-y: visible;
    -webkit-scroll: none;
    max-width: 700px;
    margin: 0 auto;

    header {
      display: block;
      height: auto;
      position: relative;

      input, .input-header {
        text-align: center;
        width: 100%;
        padding: 0.5rem 0 1.75rem;
        font-size: 1.25rem;
        transition: border $transition-short;
        border: 1px solid rgba(#000, 0.05);

        &:focus {
          border: 1px solid rgba($accent, 0.5);
        }
      }

      h6 {
        // display: none;
        margin: 0;
        position: absolute;
        bottom: 0.5rem;
        width: 100%;
        text-align: center;
        color: rgba(#000, 0.3);
      }
    }

    textarea {
      resize: none;
      box-sizing: content-box;
      padding: 1rem 5%;
      overflow-y: scroll;
      border: 1px solid rgba(#000, 0.05);
      background: #fff;
      transition: border $transition-short;

      &:focus {
        border: 1px solid rgba($accent, 0.5);
      }
    }
  }
}
