button {
  background: transparent;
  color: $text-default-color;
  min-width: 1.5 * $base;
  height: 1.5 * $base;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  transition: all $transition-short;
  border-radius: $bd-rad;

  &:hover {
    cursor: pointer;
    // background: rgba(#000, 0.05);
    // color: darken($accent, 10%);
  }

  // TODO: think of something to do with outline....really faint though
  &:focus {
    outline: none;
  }
}

.btn-accent {
  background: $accent;
  color: $text-accent-bg;

  & + .btn-accent {
    border-left: 1px inset rgba($text-accent-bg, 0.5);
  }

  &:hover, &:focus {
    color: $text-accent-bg;
    background: $accent-darker;
  }
}

.btn-text {
  padding: 0 (0.5 * $base);
}
