button {
  padding: 0;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 1px dotted rgba(#000, 0.3);
  }
}

a {
  color: rgba(#000, 0.8)
}

main {
  height: 100%;
  left: 33%;
  bottom: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: left $transition;
}

main section {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.editor-section, &.tags-section {
    padding: 3rem 5% 0.5rem;
    box-sizing: border-box;
    overflow-y: visible;
    -webkit-scroll: none;

    header {
      display: block;
      height: auto;
      position: relative;

      input, .input-header {
        text-align: center;
        width: 100%;
        padding: 0.5rem 0 1.75rem;
        font-size: 1.25rem;
        transition: border $transition-short;
        border: 1px solid rgba(#000, 0.05);

        &:focus {
          border: 1px solid rgba($accent, 0.5);
        }
      }

      h6 {
        // display: none;
        margin: 0;
        position: absolute;
        bottom: 0.5rem;
        width: 100%;
        text-align: center;
        color: rgba(#000, 0.3);
      }
    }

    textarea {
      resize: none;
      box-sizing: content-box;
      padding: 1rem 5%;
      overflow-y: scroll;
      border: 1px solid rgba(#000, 0.05);
      background: #fff;
      transition: border $transition-short;

      &:focus {
        border: 1px solid rgba($accent, 0.5);
      }
    }
  }

  &.prompt {
    flex-direction: column;
    justify-content: center;
    h2 {
      color: rgba(#000, 0.3);
      text-align: center;
      padding: 2rem;
    }

    a {
      color: rgba(#000, 0.4);
      transition: all $transition-short;

      &:hover {
        color: rgba(#000, 0.5);
      }
    }
  }

  &.tags-section {
    .post-card {
      border: 1px solid rgba(#000, 0.05);
      padding: 1rem;
      margin: 0.25rem;
      transition: box-shadow $transition-short;

      h4 {
        margin: 0;
        color: rgba(#000, 0.7);
      }

      h6 {
        margin: 0;
        color: rgba(#000, 0.3);
      }

      &:hover {
        box-shadow: 0 1px 3px rgba(#000, 0.15);
      }

      &:active {
        border-color: lighten($accent, 20%);
      }
    }
  }
}
