header {
  width: $header-width;
  padding: 0 $main-children-pad;
  color: $text-default-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  z-index: 2;

  button {
    display: inline-block;
  }

  .settings {
    display: flex;
  }

  // default button styles inside header
  button {
    color: rgba($text-default-color, 0.6);

    & + button {
      margin-left: 0.25 * $base;
    }

    &:hover {
      color: $text-default-color;
    }
  }
}
