@import '~sanitize.css/sanitize';
@import 'styles/vars';
@import 'styles/base';

// UI Component defaults
@import 'view/components/Button';

@import 'view/components/Header';
@import 'view/components/Sidebar';
@import 'view/components/Editor';
@import 'view/components/Search';
@import 'view/components/Login';
@import 'view/components/Prompt';
@import 'view/components/Dropdown';
@import 'view/components/Info';

// Views (overrides of UI components per view)
@import 'view/pages/index';

html {
  font-size: 16px;
}

#app {
  color: $text-default-color;
  height: 100%;
  height: 100vh;
}

main {
  height: $main-height;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
