@import '~sanitize.css/sanitize';
@import 'styles/vars';
@import 'styles/base';
@import 'view/Header';
@import 'view/Sidebar';
@import 'view/Editor';
@import 'view/Search';

#app {
  color: $text-default-color;
  height: 100%;
  height: 100vh;
  display: flex;
}

main {
  height: $main-height;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
